body {
    background-color: #003566;
    color: white;
}

h1 {
    text-align: center;
    color: #eff6e0;
}

header {
    margin: 0 auto;
    width: 100%;
    background-color: #001d3d;
    border-radius: 10px;
}

.text-right {
    display: flex;
    justify-content: flex-end;
}

.ma-5 {
    margin: 5px;
}

.btn-primary {
    border: 0;
    border-radius: 4px;
    width: 60px;
    height: 25px;
    background-color: #669bbc;
    color: white;
}

.btn-primary:hover {
    border: 0;
    border-radius: 4px;
    width: 60px;
    height: 25px;
    background-color: #598392;
    color: white;
}

.btn-primary:active {
    border: 0;
    border-radius: 4px;
    width: 60px;
    height: 25px;
    background-color: #669bbc;
    color: white;
}

.btn-secondary {
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 4px;
    width: 60px;
    height: 25px;
    background-color: #ffc300;
    color: 000814;
}

.btn-secondary:hover {
    border: 0;
    border-radius: 4px;
    width: 60px;
    height: 25px;
    background-color: #ee9b00;
    color: 000814;
}

.btn-secondary:active {
    border: 0;
    border-radius: 4px;
    width: 60px;
    height: 25px;
    background-color: #ffc300;
    color: 000814;
}

.btn-danger {
    border: 1px solid black;
    border-radius: 4px;
    width: 60px;
    height: 25px;
    background-color: #d90429;
    color: #eff6e0;
}

.btn-danger:hover {
    border: 0;
    border-radius: 4px;
    width: 60px;
    height: 25px;
    background-color: #780000;
    color: #eff6e0;
}

.btn-danger:active {
    border: 0;
    border-radius: 4px;
    width: 60px;
    height: 25px;
    background-color: #d90429;
    color: #eff6e0;
}

.box-height {
    height: 25px;
    border-radius: 4px;
}

.box-width {
    width: 60%;
}

[id="todo-add-form-div"] {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

[id="todo-add-form"] { 
    color: #eff6e0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

[id="table-div"] {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

[id="table-background"] {
    background-color:  #598392;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
}

[id="search-form"] {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-content: center;	
}

[id="table"] {
    color: #eff6e0;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}

[id="table"] th {
    text-align: left;
    padding: 10px;
    background-color: #001d3d;
}

[id="table"] td {
    padding: 10px;
}