body {
    background-color: #003566;
    color: white;
}

h1 {
    text-align: center;
    color: #eff6e0;
}

button {
    cursor: pointer;
}

section hr {
    min-width: 395px;
}

header {
    margin: 0 auto;
    min-width: 395px;
    width: 100%;
    background-color: #001d3d;
    border-radius: 10px;
}

.d-none {
    display: none !important;
}

.text-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ma-5 {
    margin: 5px;
}

.btn-primary {
    border: 0;
    border-radius: 4px;
    width: 60px;
    height: 27px;
    background-color: #669bbc;
    color: white;
}

.btn-primary:hover {
    border: 0;
    border-radius: 4px;
    width: 60px;
    height: 27px;
    background-color: #598392;
    color: white;
}

.btn-primary:active {
    border: 0;
    border-radius: 4px;
    width: 60px;
    height: 27px;
    background-color: #669bbc;
    color: white;
}

.btn-secondary {
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 4px;
    width: 60px;
    height: 27px;
    background-color: #ffc300;
    color: #000814;
}

.btn-secondary:hover {
    border: 0;
    border-radius: 4px;
    width: 60px;
    height: 27px;
    background-color: #ee9b00;
    color: #000814;
}

.btn-secondary:active {
    border: 0;
    border-radius: 4px;
    width: 60px;
    height: 27px;
    background-color: #ffc300;
    color: #000814;
}

.btn-danger {
    border: 1px solid black;
    border-radius: 4px;
    width: 60px;
    height: 27px;
    background-color: #d90429;
    color: #eff6e0;
}

.btn-danger:hover {
    border: 0;
    border-radius: 4px;
    width: 60px;
    height: 27px;
    background-color: #780000;
    color: #eff6e0;
}

.btn-danger:active {
    border: 0;
    border-radius: 4px;
    width: 60px;
    height: 27px;
    background-color: #d90429;
    color: #eff6e0;
}

.box-height {
    height: 27px;
    border-radius: 4px;
}

.box-width {
    width: 60%;
    min-width: 200px;
}

.modal {
    display: none;
    position: fixed;
    top: -710px;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: downmodal;
    animation-duration: 1s;
}

.modal-content {
    background-color: #001d3d;
    box-shadow: 0px 0px 0px 1200px rgba(0,0,0,0.5);
    margin: auto;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-duration: 1s;
    min-width: 300px;
    width: 35%;
    height: 55%;
}

.alert {
    background-color: #d90429;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 540px;
    width: 57%;
}

.modal-alert {
    background-color: #d90429;
    border-radius: 5px;
    margin: 15px auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92%;
}

#modal-exit {
    margin: 0px 10px 0px 10px;
    display: flex;
    justify-content: right;
}

#modal-form {
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#modal-title {
    margin: 10px 10px 10px 10px;
    font-size: 13px;
    height: 30px;
}

#modal-description {
    resize: none;
    margin: 10px 10px 10px 10px;
    font-size: 15px;
    height: 90px;
}

#modal-buttons {
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: right;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav h1 {
    margin-left: 20px;
}

#todo-add-form-div {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 395px;
    width: 100%;
}

#todo-add-form { 
    color: #eff6e0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

#table-div {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    min-width: 400px;
    width: 100%;
}

#table-background {
    background-color:  #598392;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    min-width: 570px;
    width: 60%;
}

#table {
    color: #eff6e0;
    border-collapse: collapse;
    min-width: 0px;
    width: 100%;
}

#search-form {
    display: flex;
    justify-content: right;
    margin-right: 10px;
}

#table th {
    text-align: left;
    padding: 10px;
    background-color: #001d3d;
}

#table td {
    padding: 10px;
}

/* Modal animation */
@keyframes downmodal {
    from { top: -710px }
    to { top: 0; }
}

@keyframes upmodal {
    from { top: 0; }
    to { top: -710px; }
}

@keyframes reduce-shadow {
    100% { box-shadow: 0px 0px 0px 1200px rgba(0,0,0,0) }
}

@media (max-width: 570px) {
    h1 {
        font-size: 30px;
    }

    .btn-primary {
        width: 90%;
        height: 38px;
        font-size: 18px;
    }

    .btn-primary:hover {
        width: 90%;
        height: 38px;
        font-size: 18px;
    }

    .btn-primary:active {
        width: 90%;
        height: 38px;
        font-size: 18px;
     }

    .btn-secondary {
        margin-right: 10px;
        border: 1px solid black;
        width: 60px;
        height: 30px;
        background-color: #ffc300;
        color: #000814;
    }

    .btn-secondary:hover {
        border: 0;
        width: 60px;
        height: 30px;
        background-color: #ee9b00;
        color: #000814;
    }

    .btn-secondary:active {
        border: 0;
        width: 60px;
        height: 30px;
        background-color: #ffc300;
        color: #000814;
    }

    .btn-danger {
        border: 1px solid black;
        width: 60px;
        height: 30px;
        background-color: #d90429;
        color: #eff6e0;
    }

    .btn-danger:hover {
        border: 0;
        width: 60px;
        height: 30px;
        background-color: #780000;
        color: #eff6e0;
    }

    .btn-danger:active {
        border: 0;
        width: 60px;
        height: 30px;
        background-color: #d90429;
        color: #eff6e0;
    }

    .alert {
        font-size: 18px;
        min-width: 0px;
        width: 90%;    
    }

    #todo-add-form { 
        font-size: 17px;
        flex-direction: column;
        width: 100%;
    }

    #title {
        font-size: 18px;
        height: 38px;
        width: 90%;
    }

    #description {
        font-size: 18px;
        height: 38px;
        width: 90%;
        margin-bottom: 10px;
    }
    
    #search-form {
        flex-direction: column;
        width: 100%;
    }

    #search {
        align-self: center;
        font-size: 18px;
        height: 38px;
        width: 90%;
        margin-bottom: 10px;
    }

    #search:hover {
        align-self: center;
        font-size: 18px;
        height: 38px;
        width: 90%;
    }

    #search-input {
        align-self: center;
        font-size: 18px;
        height: 38px;
        width: 90%;
    }

    #table-background {
        min-width: 0px;
        width: 90%;
    }

    #table {
        font-size: 18px;
        width: 100%;
    }

    #nav {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
}